.about__photo{
    background-image: url(../images/bg-about-header.png);
    width: 100%;
    height: 350px;
    position: relative;
    /* filter:opacity(0.3); */
}
.about__photo-text{
    font-size: 80px;
    font-weight: bold;
    color: black;
    text-align: center;
    line-height: 350px;
}
.about__wrapper{
    background-image: url(../images/bg-about.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 850px;
    width: 100%;
   /*  z-index: 5; */
    overflow: hidden;
    position: relative;
} 
.about__item {
    background-color: #EEEEEE;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
    height: 400px;
    width: 100%;
}
.about__item {
    font-size: 35px;
    line-height: 50px;
    padding: 30px 150px 30px 150px;
}
.about__wrapper1{
    background-image: url(../images/bg-about2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
    width: 100%;
   /*  z-index: 5; */
    overflow: hidden;
}
.about__item1{
    background-color: #EEEEEE;
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%);
    height: 500px;
    width: 100%;
    position: absolute;
    top: -50px;
    z-index: 1;
    position: absolute;
    top: 1300px;
    font-size: 35px;
    line-height: 50px;
    padding: 140px 150px 30px 150px;
}
.about__wrapper3{
    height: 300px;
    background-color: #EEEEEE;
    position: relative;
    font-size: 35px;
    line-height: 50px;
    padding: 100px 150px 30px 150px;
}
