.addres__wrapper {
    display: flex;
    flex-direction: column; 
    color: #3E424B;
    gap: 50px;
}
.addreee__info-title {
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 30px;
}
.address__info__wrapper {
    display: flex;
    flex-direction: row;
}
.address__info-block {
    width: 65%;
    background: #F5F5F5;
    margin-right: 20px;
    padding: 30px 2.6vw 2.6vw 2.6vw;
    flex-shrink: 30;
}
.address__info-block p:last-child{
    padding-top: 20px;
}
a.address__info-tel {
    font-weight: bold;
    font-size: clamp(30px, 3.3vw, 60px);
    line-height: 90px;
}
.address__info-skype {
    display: block;
    margin-bottom: 20px;
}
.address__info-service {
    width: 34%;
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    padding: max(2.08vw, 20px);
    justify-content: space-between;
}
p strong {
    margin-bottom: 20px;
    font-size: ;
}
.address__info-photo {
    display: flex;
    flex-direction: row;
    gap: 17px;
    justify-content: flex-start;
    margin-bottom: 20px;
}
.address__info-photo-img {
    width: max(85px, 8.6vw);
}
.address__info-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: nowrap;
    font-size: 15px;
}
.address__info-text p:last-child:before{
    content: " ";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 45%;
    background-color: brown;
    margin-right: 5px;
}
.addres__phone {
    padding: 10px 0;
    box-sizing: border-box;
}  
.phone__icon {
    width: 20px;
}
.addres__call {
    padding: 10px 0;
}
.addres__email {
    padding: 10px 0;
}
.email__icon {
    width: 20px;
}
.address__manager {
    padding-bottom: 40px;
    position: relative;
}
.address__manager__card {
    padding: 20px; 
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    flex-shrink: 10;
    box-sizing: border-box;
}
.address__manager__card strong {
    font-size: 17px;
}
.address__manager__card > span {
    display: inline-block;
}
.address__manager-photo {
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.address__manager-photo-img {
    width: max(80px, 8vw);
    height: max(80px, 8vw);
}
.address__manager-photo .call a{
    font-size: 14px;
    padding-bottom: 0 0 30px 0;
}
.address__manager__card p {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.address__manager__card p span:last-child::before{
    content: " ";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 45%;
    background-color: green;
    margin-right: 5px;
}
.address__manager__card:nth-child(2) p span:last-child::before{
    content: " ";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 45%;
    background-color: brown;
    margin-right: 5px;
}
.address__manager__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    width: 65%;
    gap: 20px;
    justify-content: center;
}
addreee__info-title {
    width: 100%;
}
.address__manager iframe{
    position: absolute;
    top: 60px;
    right: 0;
    width: 34%;
    min-height: 440px;
}

@media all and (max-width: 1181px) {
    .address__manager iframe{ 
        width: 100%;
        min-height: 300px;
        position: relative;
    }
    .address__manager {
        padding-bottom: 70px;
        position: relative;
    }
     .address__manager__wrapper{
        width: 100%;
    } 
}

@media all and (max-width: 990px) {
    .address__info__wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .address__info-block {
        width: 100%;
        
    }
    .address__info-service {
        width: 100%; 
    }
    .address__manager__card {
        gap: 10px;
        min-width: 280px;
        box-sizing: border-box;
    }
    .address__manager__card strong {
        font-size: 15px;
    }
}

@media all and (max-width: 400px) {
    .address__manager__card {
        padding: 5px;
    }
    .address__manager__card {
        gap: 10px;
        max-width: 280px;
        box-sizing: border-box;
    }
    .addres__call {
        display: none;
    }
}