.help {
   width: 100%;
   padding-bottom: 30px;
   position: relative;
}
.help__wrapper {
    padding: 30px 0 100px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 80%;
}
.help__info {
    min-width: clamp(310px, 49vw,900px);
    position: relative;
}
.help__info__advice {
}
.help__info__advice__title {
    font-size: 65px;
    padding-top: 20px;
}
.help__info__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.help__info__number {
    width: 80px;
    text-align: center;
    font-weight: 400;
    font-size: 60px;
    color: #BB8C5F; 

}
.help__info__figure {
    display:block;
    width: 100px;
    height:100px;
    border-radius:50%;
    border-left:3px solid #000;
}
.help__info__card {
    padding-bottom: 10px;
}
details > summary {
    list-style: none;  
}
details{
    position: relative;
}
details>div{
  /*   position: absolute; */
    background-color: #EEEEEE;
    z-index: 1;
    box-shadow: black;
}
.help__info__card-body {
    border-left: 1px solid rgb(214, 209, 209);
    border-bottom: 1px solid rgb(214, 209, 209);
  /*   text-align: justify; */
    padding: 10px 15px 10px 30px;
}
.help__info__title {
    background-color: rgb(214, 209, 209); 
    position: relative;
}
.help__info__title::before{
    top: 50%;
    width: 1px;
    content: '';
    right: 1.7rem;
    display: block;
    height: 1.1rem;
    position: absolute;
    margin-top: -0.5rem;
    background-color: #6f6f7b;
}
.help__info__title:active::before{
    transform:rotate(90deg);
}
.help__info__title::after{
    top: 50%;
    height: 1px;
    content: '';
    right: 1.2rem;
    width: 1.1rem;
    display: block;
    position: absolute;
    background-color: #6f6f7b;
}

.help__info__title-text {
}
.btn {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 35px;
    padding-left: 30px;
}
.btn-link {

}
.help__info__card-body ol > li {
    padding-left: 10px;
}
strong{
    color: darkred;
}
.help__info__questions {
}
.help__info__questions__title {
    padding-top: 30px;
}
.help__info__questions__card {
    padding-bottom: 10px;
}

.help__video {
    max-width: 410px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }   
.help__video-youTube{
    width: 400px;
    height: 220px;
}