* {
    margin: 0;
    padding: 0;
}

.wrapper {
    background-color: khaki;
    overflow: hidden;
    
}

header,
footer {
    background-color:cadetblue;
    text-align: center;
    padding: 30px 0 35px;
    font-size: 38px;
    font-family: 'Playfair Display SC', serif;
    color: darkblue;
}

h3 {
    font-size: 30px;
    padding: 20px 0;
}

h2 {
    text-align: center;
    padding: 40px 0;
    font-variant: small-caps;
}

.menu {
    float: left;
    max-width: 280px;
    font-size: 16px;
    line-height: 25px;
    padding: 30px 0 40px 40px;
}

.menu-li {
    font-size: 25px;
    line-height: 35px; 
}

.photo {
    max-width: 350px;
    float: left;
    margin: 0 40px 20px 0;
}

p {
    text-indent: 20px;
}
.content {
    background-image: url(images/football.png);
    background-color: #fff;
    background-position: top right;
    background-repeat: repeat-y;
    font-size: 28px;
    margin-left: 290px;
    padding: 0px 20px 10px 20px;
}

.clearfix {
    clear: both;
}

.menu-btn {
    display: none;
    /*position: relative;
    width: 40px;
    height: 40px;*/

}

@media all and (max-width: 950px) {
    header,
    footer {
    padding: 30px 0 35px;
    font-size: 30px;
    }
    .img {
    text-align: center;
    }
    .photo {
        float: none;
        margin-bottom: 0;
    }
    .content {
        font-size: 24px;
    }
    h2 {
        padding: 20px 0;
    }
}   

@media all and (max-width: 767px) {
    header,
    footer {
        padding: 35px 0 35px;
        font-size: 25px;
    }
    header {
        display: flex;
        position: fixed;
        width: 100%;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }
    header div.hello {
        position:absolute;
    }
    .menu-btn {
        display: block;
        position: absolute;
        width: 50px;
        height: 30px;
        right: 0;
        margin-right: 20px;
    }
    .menu-btn span {
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 3px;
        right: 0;
        top:13px;
    }
    div.menu-btn:before,
    .menu-btn:after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 3px;
        right: 0;
    }
    .menu-btn::before {
        top: 0;
    }
    .menu-btn::after {
        bottom: 0;
    }
    .menu {
        position: fixed;
       top: 0;
       right: 0;
       width: 100%;
       height: 100%;
       background-color: cadetblue;
       padding: 70px 10px 0 20px ;          
    }   
    h3 {
        font-size: 28px;
        color: #fff;
    }
    a {
        text-decoration: none;
        color: #fff;
    }
    .menu-li {
        font-size: 24px;
        line-height: 40px; 
        list-style-type: none;
        
    }
    br {
        display: none;
    }



    .content {
        font-size: 28px;
        max-width: 100%;
        margin-left: 0px;
        padding: 70px 10px 10px 20px;
    }

}


/*@media (min-width: 600px), (max-width: 800px) {
    .wrapper {
        min-width: 600px;
        max-width: 800px;
        
    }

    header,
    footer { 
    padding: 30px 0 35px;
    font-size: 24px;
    /*min-height: 600px;
    max-width: 800px;   

    }

    .photo {
        width: auto;
        float: none;
        /*padding-left: 20px;
        padding-right: 20px;
        margin: 0;
    }

    h3 {
        font-size: 20px;
        padding: 0px 0 10px 0;
    }

    h2 { 
        padding: 10px 0;
    }

    .menu {
        max-width: 150px;
        font-size: 12px;
        line-height: 30px;
        padding: 15px 0 40px 40px;
    }

    .menu-li {
        font-size: 18px;
        line-height: 35px; 
    }

    .content {
        font-size: 20px;
        
    }
    
}*/