* {
    margin: 0;
    padding: 0;
}

.wrapper {
    background-color: khaki;
    overflow: hidden;
    min-width: 320px;
}

header,
footer {
    background-color:cadetblue;
    text-align: center;
    padding: 30px 0 35px;
    font-size: 38px;
    font-family: 'Playfair Display SC', serif;
    color: darkblue;
}

h3 {
    font-size: 30px;
    padding: 20px 0;
}

h2 {
    text-align: center;
    padding: 40px 0;
    font-variant: small-caps;
}

.menu {
    float: left;
    max-width: 280px;
    font-size: 16px;
    line-height: 25px;
    padding: 30px 0 40px 40px;
}

.menu-li {
    font-size: 25px;
    line-height: 35px; 
}

.photo {
    max-width: 350px;
    float: left;
    margin: 0 40px 20px 0;
}

p {
    text-indent: 20px;
}

.content {
    background-image: url(images/football.png);
    background-color: #fff;
    background-position: top right;
    background-repeat: repeat-y;
    font-size: 28px;
    margin-left: 290px;
    padding: 0px 20px 10px 20px;
    text-align: justify;
}

.clearfix {
    clear: both;
}

.menu-btn {
    display: none;
}

@media all and (max-width: 950px) {
    header,
    footer {
        padding: 30px 0 35px;
        font-size: 30px;
    }
    .img {
        text-align: center;
    }
    .photo {
        float: none;
        margin-bottom: 0;
    }
    .content {
        font-size: 24px;
    }
    h2 {
        padding: 20px 0;
    }
}   

@media all and (max-width: 767px) {
    header,
    footer {
        padding: 35px 0 35px;
        font-size: 25px;
    }
    header {
        display: flex;
        position: fixed;
        width: 100%;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }
    header div.hello {
        position:absolute;
    }
    .menu-btn {
        display: block;
        position: absolute;
        width: 50px;
        height: 30px;
        right: 0;
        margin-right: 20px;
    }
    .menu-btn span {
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 3px;
        right: 0;
        top:13px;
        transition: all 0.3s ease 0s;
    }
    div.menu-btn:before,
    div.menu-btn:after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 3px;
        right: 0;
        transition: all 0.3s ease 0s;
    }
    .menu-btn::before {
        top: 0;
    }
    .menu-btn::after {
        bottom: 0;
    }
    div.menu-btn.active span {
        transform: scale(0);
    }  
    .menu-btn.active::before {
        transform: rotate(45deg);
        top: 13px;
    }
    .menu-btn.active::after {
        transform: rotate(-45deg);
        bottom: 14px;
    }
    .menu {
        overflow: auto;
        position: fixed;
        top: -100%;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: cadetblue;
        padding: 70px 60px 0px 20px;  
        overflow:auto;   
        transition: all 0.3s ease 0s; 
    } 
    .menu.active {
        top: 0;
    }
    h3 {
        font-size: 28px;
        color: #fff;
    }
    a {
        text-decoration: none;
        color: #fff;
    }
    .menu-li {
        font-size: 24px;
        line-height: 40px; 
        list-style-type: none; 
    }
    br {
        display: none;
    }
    .content {
        font-size: 28px;
        max-width: 100%;
        margin-left: 0px;
        padding: 70px 20px 10px 20px;
    }
    body.lock {
        overflow: hidden;
    }
}

@media all and (max-width: 680px) {
    .hello,
    footer {
        font-size:20px;
    }
    footer {
        padding: 15px 0 15px;
    }
    .content {
        font-size: 24px;
     }
     img {
         padding-bottom: 20px;
     }
}

@media all and (max-width: 570px) {
    .hello {
        visibility: hidden;
    }
    .hello::before {
        content: 'Футбол';
        visibility: visible;
        display: block;
        position: absolute;  
        transform: translate(100%, -25%);
        font-size: 30px;
    }
    h2 {
        display: none;
    }
    .photo {
        padding-top: 20px;
        margin: auto;
    }
    .content {
        background-image: none;
    }
}

@media all and (max-width: 407px) {
    .hello::before {
        content: 'Футбол';
        transform: translate(100%, 0%);
    }
    h3 {
        display: none;
    }
    .content {
        font-size: 20px;
    }
}

@media all and (max-width: 360px) {
    .hello::before {
        content: 'Футбол';
        transform: translate(100%, 0%);
    }
    footer span {
        display: none;
    }
    .content {
        padding-left: 20px;
    }
    .menu {
        padding: 70px 0 0px 20px;          
     } 
}

@media all and (max-width: 350px) {
    .hello::before {
        content: '';
    }
    .content h2 {
        display: block;
        font-size: 25px;
        margin: auto;
    }
   
    .photo {
        padding-top: 0;
    }
}

@media all and (max-width: 340px) {
    .photo {
        max-width: 250px;
    }
}