* {
    margin: 0;
    border: none;   
}
table {
    border-collapse: collapse;
    height: 100vh;
}

.header, 
.footer {
    background-color:cadetblue;
    text-align: center;
    padding: 30px;
    font-size: 40px;
    font-family: 'Playfair Display SC', serif;
    color: darkblue;
}

tr {
    background-color: khaki;
}

h3 {
    font-size: 30px;
    padding-bottom: 20px;
}

.menu {
    float: left;
    width: 280px;
    font-size: 18px;
    line-height: 30px;
    padding: 45px 20px;
}

.menu-li {
    font-size: 25px;
    line-height: 35px; 
} 

.content {
    background-color: #fff;
    background-image: url(images/football.png);
    background-position: top right;
    background-repeat: repeat-y;
    font-size: 30px;
    padding: 40px;
    margin-left: 280px;
}

h2 {
    text-align: center;
    padding-bottom: 40px;
    font-variant: small-caps;
}

.photo {
    width: 350px;
    float: left;
    margin: 0 40px 20px 0 ;
}


